body {
	font-family: "Roboto", sans-serif;
	background-color: white;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
h1 {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
#counter {
	text-align: center;
}
.task5 {
	text-align: left;
}
